[Unit]
Description=Zayava Telegram Bot
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/zayava
ExecStart=/usr/bin/python3 /root/zayava/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 